@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 4vw;
  margin: auto;
  background-color: rgb(16, 15, 15);
  color: whitesmoke;
  text-align: justify;
  max-width: 1000px;
}

h1, h2, h3, p, label, a {
  font-family: "Epilogue", "arial", sans-serif;
}

h1 {
  font-size: 1.7rem;
}

h2 {
  font-size: 1rem;
  font-weight: normal;
}

h3 {
  font-size: 1.1rem;
  font-weight: 500;
  letter-spacing: 0.45px;
}

label {
  font-size: 0.9rem;
}

.back-to-hub {
  text-decoration: none;
  color: white;
}

.title {
  margin: 50px 0 30px 0;
}

.subtitle {
  margin-bottom: 50px;
}

.question {
  width: 100%;
  margin-top: 70px;
}
.question__title {
  margin-bottom: 20px;
}
.question__img {
  width: 100%;
  margin-bottom: 20px;
}
.question__choice {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 1rem;
  user-select: none;
  margin-bottom: 15px;
}

.answer {
  margin: 25px 0 40px 0;
  width: 100%;
  border: 1px solid white;
  padding: 1rem;
  display: none;
}

.results {
  margin: 50px 0 50px 0;
  width: 100%;
  border: 1px solid white;
  padding: 1rem;
  display: none;
}
.results img {
  width: 100%;
  margin: 10px 0 10px 0;
}

/* Masquer la checkbox par défaut */
input[type=checkbox] {
  position: relative;
  height: 1.3em;
  width: 1.3em;
  opacity: 0;
  margin-right: 10px;
  cursor: pointer;
}

/* Créer une checkbox customisée */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.3em;
  width: 1.3em;
  border: 1px solid whitesmoke;
  border-radius: 50%;
  pointer-events: none;
}

/* Au clic si bonne réponse */
input:checked ~ .checkmark.checkmark-true {
  background-color: seagreen;
}

input:checked ~ .checkmark.checkmark-false {
  background-color: rgb(190, 39, 47);
}

/* Créer la checkmark masquée si non cliquée */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* La checkmark en cas de bonne réponse */
input:checked ~ .checkmark.checkmark-true:after {
  display: block;
}

/* Styliser la checkmark "bonne réponse" */
.checkmark.checkmark-true:after {
  left: 0.45em;
  top: 0.25em;
  width: 0.25em;
  height: 0.5em;
  border: solid white;
  border-width: 0 0.15em 0.15em 0;
  transform: rotate(45deg);
}

input:checked ~ .checkmark.checkmark-false:after {
  content: "⨯";
  font-weight: 100;
  font-size: 1.45rem;
  top: -4px;
  left: 1px;
  display: block;
  color: white;
  transform: none;
  border: none;
}

.label-true.checked {
  color: seagreen;
}

.label-false.checked {
  color: rgb(190, 39, 47);
}

.fa-xmark {
  color: white;
}

.quizz {
  display: flex;
  gap: 10px;
  width: clamp(100px, 100%, 800px);
  margin-bottom: 20px;
}
.quizz__img {
  width: 50%;
}
.quizz__img img {
  width: 100%;
}
.quizz__desc {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.quizz__desc__title > p {
  font-size: 1rem;
  line-height: 1.3rem;
}
.quizz__desc__date > p {
  font-size: 0.8rem;
}

.link {
  color: white;
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
